<main data-ng-show="::contractsVM.showMain">
	<h1 data-page-title class="hideAccessible"></h1> 
	
	<div sticky="sticky" class="mod_infoAccount no_padding_top">
		<div  class="gridContainer mod_titles_border">			
			<div class="wrapper">
				<div class="row">
					<div class="col-xs-12 mod_titles">
						<h2 class="mt-titleH2 icon-company">Selecci&oacute;n de contrato</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="gridContainer gridList">
		<div class="wrapper">
			<ul class="mod_tableList" data-ng-show="!contractsVM.noRecords">
				<li class="tl-item" data-ng-repeat="contract in ::contractsVM.contracts track by contract.cdContract">
					<a id="link_select_contract_{{::$index}}" data-ng-click="contractsVM.selectContract(contract)" class="tl-link ico-arrowR-ora tl-oneItem">
						<span class="tl-boxL tl-w100">{{::contract.dsCompany}}</span><span class="tl-boxR tl-num tl-fltL text-light-grey">C&oacute;digo: {{::contract.cdContract}}</span>
					</a>
				</li>
			</ul>
			
			<alert-no-records data-ng-show="contractsVM.noRecords"></alert-no-records>
			
		</div>
	</div>	
	
</main>