<div class="modal-header">
	<h3 class="modal-title">Clave de usuario</h3>
</div>
<div class="modal-body" data-modal-auto-height>

	<user-key data-key="userKeyModalVM.key"></user-key>
	
	<div class="mod_form">
		<div class="mfm-boxBTN no_marginTop">
			<input id="btn03" data-ng-click="userKeyModalVM.cancel()" type="button" value="Cancelar" class="mfm-button mfm-dbl cancel">
			<input id="btn_send" data-ng-click="userKeyModalVM.accept()" type="button" value="Confirmar" class="mfm-button mfm-dbl">
		</div>
	</div>
</div>