<main>
	<div class="wrapper cambio-clave">
		<div class="container-fluid">

			<div id="cuerpo" class="clearfix" ng-controller="CambiarClaveViewController">
				<div id="col-izq">
					<menu-profile></menu-profile>
				</div>
				<div id="col-der">
					<div id="cambio-clave" class="contenido">
						<div id="breadcrumb">
							<span class="base">Inicio</span> <span>&gt;</span> <span class="current">Cambiar Clave</span>
						</div>

						<h1>Cambia tu clave de 6 d&iacute;gitos </h1>

						<div class="form-container">
							<div class="header">
								<ul class="steps">
									<li>1</li>
									<li class="active">2</li>
								</ul>
								<h3>Constancia<span class="border"></span></h3>
							</div>
							<div class="content">
								<p>Tu operaci&oacute;n se realiz&oacute; con &eacute;xito.</p>
								<p><strong>&#161;Felicidades&#33;</strong></p>
								<p>Has cambiado Tu Clave Internet. Antes de continuar con tus Operaciones Bancarias, es necesario que hagas clic en el bot&oacute;n <strong>"Cerrar Sesi&oacute;n"</strong> e ingreses nuevamente.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>