<form class="mod_form mod_auth_token">

	<div class="mod_details">
		<h2 class="hideAccessible">Introducci&oacute;n de claves</h2>
		
		<fieldset class="auth-keys">
			<legend class="hideAccessible">Introducción de datos tarjeta token</legend>
			<div class="row mbxs">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 mbxs">
							<h3 class="auth-title-confirm">Confirma que los datos son correctos antes de ingresar tu Clave Digital Token.</h3>
						</div>
					</div>
				</div>
				<!--Ends token inputs-->
			</div>
			<div class="row mbxs">
				<div class="col-xs-12">
					<div class="row" data-keypad-mobile-input data-ng-model="tokenCardVM.token" data-keypad-options="::tokenCardVM.optionsValue">
						<div class="col-xs-5">
							<h3 class="auth-title">Tarjeta Token:</h3>
						</div>
						<div class="col-xs-6 no_padding_left text-left">
							<label class="ico-key-token">
								<input type="text" class="input-key w60" data-keypad-mobile-partial="2" data-ng-model="authorizeSendsVM.token">
							</label>
						</div>
					</div>
				</div>
				<!--Ends token inputs-->
			</div>
			<!--Starts key input-->
			<div class="row">
				<div class="col-xs-12">
					<div class="row" data-keypad-mobile-input data-ng-model="tokenCardVM.key" data-keypad-options="::tokenCardVM.optionsKey">
						<div class="col-xs-5">
							<h3 class="auth-title">Clave:</h3>
						</div>
						<div class="col-xs-7 no_padding_left">
							<label for="box7" class="ico-key"><span class="hideAccessible">Clave input</span>
								<input type="password" required="" id="box7" class="input-key w100" data-ng-model="tokenCardVM.key" data-ng-required="true" data-ng-disabled="true" autocorrect="off" autocomplete="off" spellcheck="false">
							</label>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</form>