<div class="col-xs-12 mtp-groupAll">
	<ul class="nav nav-tabs mtp-group nav-tab-bottom visible-desktop">
		<li class="mtp-item mtp-item-2 w100">
			<a class="mtp-link">
				<div class="mod_form">
					<div class="mfm-boxBTN">
						<button type="button" class="mfm-button mfm-dbl" id="btn_sign"
							data-ng-click="operationsToSignVM.sign()" 
							data-ng-disabled="!operationsToSignVM.areAnySelected || !operationsToSignVM.operationsToSign.length"
						>Firmar</button>
					</div>
				</div>
			</a>
		</li>	
	</ul>
	<ul class="nav nav-tabs mtp-group">
		<li data-ng-class="{ active:tabs.tab === 2, 'w100': operationsToSignVM.hideSelectAll}" class="mtp-item mtp-item-2">
			<a data-ng-click="tabs.selectTab(2)" title="Filtros" class="mtp-link">
				<span class="ico-filters">Filtros</span>
			</a>
		</li>
		<li class="mtp-item mtp-item-2 mod_form" data-ng-hide="operationsToSignVM.hideSelectAll">
			<div class="mfm-checkG mtp-link">
				<input id="checkAll01" type="checkbox" class="mfm-inCheck"
					data-ng-model="operationsToSignVM.checkAll" 
					data-ng-change="operationsToSignVM.selectCheckAll()"
					data-ui-indeterminate="operationsToSignVM.areAnySelected && !operationsToSignVM.checkAll"/>
				<label for="checkAll01" class="mfm-labCheck labCheck-nav">
					<span class="xs-inline-visible">Todos</span>
					<span class="xs-hide">Seleccionar todos</span>
				</label>
			</div>
		</li>		
	</ul>
	<div class="tab-content" data-ng-show="tabs.tab !== 0">
		<div data-ng-show="tabs.tab === 2" class="col-xs-12 mtp-content">
			<div class="wrapper">
				<div class="mtp-header">
					<h3 class="mtp-tit">Seleccione tipo de operaci&oacute;n</h3>
					<!-- <a title="Cerrar tab" role="button" data-ng-click="tabs.closeTabs()" class="mtp-close"><span class="hideAccessible">Cerrar tab</span></a> -->
				</div>
				<div class="mtp-body">					
					<dropdownlist data-ctrl="TypeOperationSigingController"></dropdownlist>
				</div>
				<div class="mtp-footer mod_form">
					<div class="mfm-boxBTN">
						<input id="btn01" type="button" data-ng-click="operationsToSignVM.filter(); tabs.closeTabs();" value="Filtrar" class="mfm-button mfm-dbl"/>
						<label for="btn01" class="hideAccessible">Filtrar</label>
					</div>
					<a title="Cerrar tab" role="button" data-ng-click="tabs.closeTabs()" class="mtp-close"><span class="hideAccessible">Cerrar tab</span></a>
				</div>
			</div>
		</div>
	</div>
</div>